<section class="about-section">
  <h1 class="about-h1">About Me</h1>
  <img
    class="about-img"
    src="/images/miriam_call-profile-picture.webp"
    alt="Miriam"
    width="240"
    height="300"
    loading="lazy"
  />
  <p class="about-bio">
    Hi! My name is Miriam. I am currently a student studying at BYU-Idaho. I
    hope to graduate this summer with a degree in Software Engineering. When I
    am not studying I am at home being a wife and mother. I have two small
    children who keep me busy and a wonderful husband who is also getting his
    degree and working on the side.
  </p>
</section>
