<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header class="global-header"><%- include('../partials/header') %></header>
    <main class="global-main"><%- body %></main>
    <footer class="global-footer"><%- include('../partials/footer') %></footer>
  </body>
</html>
